{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Votre Panier</h1>
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }} €</td>
                    <td>{{ item.product.price * item.quantity }} €</td>
                    <td>
                        <a href="{{ path('cart_remove', {'id': item.product.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total : {{ total }} €</p>
    <a href="/products">Continuer mes achats</a>
{% endblock %}
