{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/register.css') }}">

<header>
    <div class="logo">
        <img src="{{ asset('images/Logo.png') }}" alt="Logo">
        <p>Don't compromise on your look</p>
    </div>
    
    <nav>
        <a href="/">Accueil</a>
        <a href="/login" class="select">S'inscrire</a>
        <a href="/register">Se connecter</a>
    </nav>
</header>

<div>
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>S'inscrire</h1>
    <div>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Créer un compte</button>
    {{ form_end(registrationForm) }}
    </div>

    <div>
        <p>Déjà inscrit ?</P>
        <button><a href="/register">Se connecter</a></button>
    </div>


</div>

<footer>
    <p><strong>Stubborn</strong> est une entreprise de vente de sweat-shirts.</p>
    <p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
    <a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a>
</footer>
{% endblock %}
