{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/admin.css') }}">

<header>
    <div class="logo">
        <img src="{{ asset('images/Logo.png') }}" alt="Logo">
        <p>Don't compromise on your look</p>
    </div>

    <h1>Back-Office</h1>
    
    <nav>
        <a href="/">Accueil</a>
        <a href="/logout">Se déconnecter</a>
    </nav>
</header>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Taille</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Featured</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.featured ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
